.fixed {
  position: sticky;
  width: 300px;
  height: 80px;
  top: 0%;
  left: 50%;
  z-index: 1;
}
.immaginefissa {
  float: none;
  margin: 10px;
}
body {
  background-color: #121212;
}
.dropmenu {
  color: grey;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.ricerca {
  float: right;
  margin: auto;
  padding: 7px 60px;
}
/*container*/
#drop-menu {
	margin: 0px 40px;
	padding: 0;
	width: 700px;
}
/*menu*/
ul#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	float:left;
	width: 700px;
  font-family: "Metropolis", sans serif;
  font-weight: bold;
  font-size: 13px;
}
ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	border-right: none;
	position: relative;
}
ul#menu li a {
	float: left;
	padding:12px 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration:none;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
ul#menu li a:hover {
  background-color: rgb(68,68,68);
  background-color: rgba(68,68,68,0.75);
	color:#fff
}
ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
  background-color: rgb(68,68,68);
  background-color: rgba(68,68,68,0.75);
  border-radius: none;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
ul#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
}
ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}
ul#menu ul a {
	padding:10px;
	width: 130px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}
ul#menu ul a:hover {
	background-color: #FFFF00;
	color: black;
}
ul#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0;
}
.menutitolo {
  background-color: rgb(74,74,74);
  background-color: rgba(74,74,74,0.88);
  border-radius: 10px;
  padding: 14px 26px;
  font-size: 14px;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: semibold;
  color: white;
  border: none;
  cursor: pointer;
}
.menutitolo:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
  border: 1.5px solid #FFFF00;
}
.menutitolo2 {
  background-color: #FFFF00;
  border-radius: none;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  color:black
  border: none;
  cursor; pointer;
}
.menu {
  position: relative;
  display: inline-block;
}
.menucontenuti {
  display: none;
  position: absolute;
  background-color: rgb(255,0,0);
  background-color: rgba(255,255,255,0.90);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 14px;
  text-align: left;
}
.menucontenuti a {
  color: black;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  display: block;
}
.menucontenuti a:hover {
  background-color: #f1f1f1
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight:bold;
  color: black;
}
.menu:hover .menucontenuti {
  display: block;
}
h2 {
  color: #FFFF00;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
p {
  color: white;
  font-family: "Metropolis", "Helvetica",sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.testoimg {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 27px;
  line-height: 1.5;
  color: white;
  float: right;
  margin: auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.testoimg img {
  margin: 0;
  padding: 0;
  border: none;
}
.titologiallo {
  float: center;
  margin: auto;
  width: 100%;
  background: none;
  position: relative;
  left: 0;
  top: 110px;
  color: #FFFF00;
  font-size: 45px;
}
.testoimg span {
  float: center;
  margin: 0;
  padding: 170px 100px;
  width: 100%;
  background: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
#pulsante {
cursor: pointer;
text-align: center;
text-decoration: none;
font: "Metropolis", Helvetica, sans-serif;
font-size: 11px;
color: #fff;
padding: 10px 20px;
border: solid 1px white;
background: none;
}
#pulsante:hover {
  color: #FFFF00;
  border: solid 1px #FFFF00;
}
h3 {
  color: #C1C1C1;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
a {
  color: #FC3370
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: underline;
}
.testobold {
  color: white;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
#boldnero {
  color: black;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
h4 {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
h5 {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
#nero {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
#maiuscolo {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: black;
  line-height: 1.5;
  text-transform: none;
}
section {
  width: 280px;
  margin: 300px 250px;
  position: absolute;
}
details {
  background: #FFFF00;
  color: black;
  padding: 15px;
  margin-bottom: 1px;
  border-radius: 15px;
}
summary {
  cursor: pointer;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 18;
}
.sfondo {
  background-image: url("sfondo.png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  text-align: center;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: white;
}
.annuncio {
  position: relative;
  margin: auto;
  padding: 20px
}
.annuncio:hover {
  width: 465px;
  cursor: grab;
}
.testoannuncio {
  float: center;
  position: absolute;
  text-align: left;
  bottom: 0px;
  left: 0px;
  padding: 35px 80px;
  border-radius: none;
  background: none; /* browser che non supportano rgba */
  background: none;
  width: 410px;
  cursor: grab;
}
.testoannuncio:hover {
  width: 420px;
}
