.fixed {
  position: sticky;
  width: 500px;
  height: 80px;
  top: 0%;
  left: 50%;
  z-index: 1;
}
.immaginefissa {
  float: left;
  margin: 10px;
}
body {
  background-color: #121212;
}
.dropmenu {
  color: grey;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
body{
	font-size:100%;
	color:#333;
	font-family:sans-serif;
}
/*container*/
#drop-menu {
	margin: 0 0;
	padding: 0;
	width: 700px;
}
/*menu*/
ul#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	float:left;
	width: 700px;
	background-color: black;
  font-family: "Metropolis", sans serif;
  font-weight: bold;
  font-size: 15px;
}
ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	border-right: 1.5px solid white;
	position: relative;
}
ul#menu li a {
	float: left;
	padding:12px 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration:none;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
ul#menu li a:hover {
	background: #444;
	color:#fff
}
ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: #444;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
ul#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
}
ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}
ul#menu ul a {
	padding:10px;
	width: 130px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}
ul#menu ul a:hover {
	background-color: #FFFF00;
	color: black;
}
ul#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0;
}
.button {
  background-color: #FFFF00;
  border-radius: 4px;
  color: black;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font-family: "Metropolis", "Helvetica", sans-serif;
  color: black;
  display: inline-block;
  font-size: 13px;
  margin: 10px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: black;
  color: white;
  border: 2px solid #FFFF00;
}
.menutitolo {
  background-color: #FFFF00;
  border-radius: 8px;
  padding: 5px 20px;
  font-size: 15px;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  color:black
  border: none;
  cursor: pointer;
}
.menutitolo:hover {
  background-color: black;
  color: white;
  border: 2px solid #FFFF00;
}
.menutitolo2 {
  background-color: #FFFF00;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  color:black
  border: none;
  cursor; pointer;
}
.menu {
  position: relative;
  display: inline-block;
}
.menucontenuti {
  display: none;
  position: absolute;
  background-color: rgb(255,0,0);
  background-color: rgba(255,255,255,0.90);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  font-family: "Metropolis", "Helvetica", sans-serif;
}
.menucontenuti a {
  color: black;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  display: block;
}
.menucontenuti a:hover {
  background-color: #f1f1f1
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight:bold;
  color: black;
}
.menu:hover .menucontenuti {
  display: block;
}
h2 {
  color: #FFFF00;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
p {
  color: white;
  font-family: "Metropolis", "Helvetica",sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.testoimg {
      font-family: "Metropolis", "Helvetica", sans-serif;
      font-size: 27px;
      line-height: 1.5;
      color: white;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
}
.testoimg img {
      margin: 0;
      padding: 0;
      border: none;
}
.testoimg span {
      float: center;
      margin: 0;
      padding: 50px 30px;
      width: 100%;
      background: #222; /* browser che non supportano rgba */
      background: rgba(0,0,0,0.7);
      position: absolute;
      left: 0;
      bottom: 0;
}
h3 {
  color: #C1C1C1;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
a {
  color: #FC3370
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: underline;
}
.testobold {
  color: white;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
#boldnero {
  color: black;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
h4 {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
h5 {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
#nero {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
#maiuscolo {
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: black;
  line-height: 1.5;
  text-transform: none;
}
section {
  width: 280px;
  margin: 300px 250px;
  position: absolute;
}
details {
  background: #FFFF00;
  color: black;
  padding: 15px;
  margin-bottom: 1px;
  border-radius: 15px;
}
summary {
  cursor: pointer;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 18;
}
.sfondo {
  background-image: url("sfondo.png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  text-align: center;
  font-family: "Metropolis", "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: white;
}
.annuncio {
  position: relative;
  margin: auto;
  padding: 20px
}
.annuncio:hover {
  width: 465px;
  cursor: grab;
}
.testoannuncio {
  float: center;
  position: absolute;
  text-align: left;
  bottom: 0px;
  left: 0px;
  padding: 35px 80px;
  border-radius: none;
  background: none; /* browser che non supportano rgba */
  background: none;
  width: 410px;
  cursor: grab;
}
.testoannuncio:hover {
  width: 420px;
}
